<div class="introduction">
    <h1 class="question">
        <strong
            >Comment est-ce que les cibles et les moyens terroristes ont évolué
            depuis 1990 à 2015 aux États-Unis ?</strong
        >
    </h1>
    <p class="authors">
        Par Motassembellah Mohamed Bassiouni, Gabriel Louka, Steven Ho, Sofiane
        Mouici, Noah Namoko et Ralph El-Khoury
    </p>
    <p class="description">
        Depuis 1990, les États-Unis ont été confrontés à un nombre croissant
        d'attaques terroristes, tant sur leur territoire qu'à l'international,
        mettant en lumière une évolution des cibles et des moyens utilisés par
        les terroristes. Ces attaques ont pris différentes formes et ont affecté
        une gamme variée d'institutions, allant des infrastructures publiques
        aux lieux privés, des institutions gouvernementales aux espaces
        commerciaux. Le nombre de victimes humaines a également varié, passant
        de pertes limitées à des événements tragiques de grande envergure, comme
        ceux du 11 septembre 2001. La nature des attaques, la diversification
        des méthodes employées (explosifs, armes à feu, etc.), ainsi que
        l'évolution des cibles (civils, autorités, infrastructures critiques)
        témoignent d'une dynamique de plus en plus complexe dans les stratégies
        terroristes. À travers cette période, les motivations des groupes
        terroristes ont évolué, influençant les cibles privilégiées, notamment
        en fonction des tensions géopolitiques, des politiques étrangères et de
        la réponse des États-Unis aux menaces extérieures. Ces éléments ont non
        seulement façonné la fréquence et l'intensité des attaques, mais aussi
        la variété des moyens employés pour les réaliser.
    </p>
</div>
